#body {
  font-family: 'Noto Sans HK', sans-serif;
  background-color: #323b43;
  margin: 0 auto;
  max-width: 1470px;
}

.header {
  width: 93%;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  margin-top: 25px;
  margin-left: 4px;
  margin-right: 15px;
  width: 78%;
  font-size: 20px;
  background-color: #657786;
  color: white;
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(1px 1px 3px #111416);
}


h3 {
  filter: drop-shadow(1px 1px 1px #111416);
}

 .logo {
   margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 35px;
  width: 22%;
  color: chartreuse;
  font-weight: 800;
  filter: drop-shadow(10px 5px 30px chartreuse);
} 

.main {
  font-size: larger;
  display: flex;  
}

.game-container {
  font-size: larger;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-left: 4px;
  filter: drop-shadow(0px 1px 3px #111416);
  width: 26.8%;
}

#game-text {
  padding-left: 10px;
}

.spread-container,
.totals-container,
.moneyline-container {
  font-size: larger;
  width: 14.93%;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-right: 7px;
  filter: drop-shadow(1px 1px 3px #111416);
}


.each-game {
  height: 150px;
  width: 100%;
  border-bottom: 1px solid #323b43;
  border-top: 1px solid #323b43;
  display: flex;
  flex-direction: column; 
  align-items: left;
  justify-content: center;
  /* background-color: black; */
  /* filter: drop-shadow(1px 0px 0px #111416); */
}

.each-gamble {
  /* padding-bottom: 15px; */
  height: 150px;
  width: 100%;
  border-bottom: 1px solid #323b43;
  border-top: 1px solid #323b43;
  /* border-right: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: black; */
  /* filter: drop-shadow(1px 0px 0px #111416); */
}


.start-text {
  font-size: small;
}

.odds-text {
  color: chartreuse;
}

.game-spacing {
  padding: 10px;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: left
  /* background-color: black; */
}

.pointsspread-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 97%;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.pointsspread-spacing:hover {
  background-color: #434f59;
}

.pointsspread-spacing2 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 97%;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.pointsspread-spacing2:hover {
  background-color: #434f59;
}

.totalpoints-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 97%;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.totalpoints-spacing:hover {
  background-color: #434f59;
}

.totalpoints-spacing2 {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 97%;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.totalpoints-spacing2:hover {
  background-color: #434f59;
}


.moneyline-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 97%;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  height: 35px;
}
.moneyline-spacing:hover {
  background-color: #434f59;
}

.moneyline-spacing2 {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 97%;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  height: 35px;
}
.moneyline-spacing2:hover {
  background-color: #434f59;
}

.bet-container {
  font-size: larger;
  height: 490px;
  width: 24.6%;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-left: 20px;
  filter: drop-shadow(1px 1px 3px #111416);
}



.bet-slip {
border-bottom: 1px solid #181818;
display: flex;
justify-content: center;
}


.bet-text {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 900;
  /* filter: drop-shadow(1px 1px 3px #111416); */
}

.submit-bets {
  height: 50px;
  width: 98%;
  font-size: 25px;
  font-weight: bolder;
  background-color: rgb(109, 214, 3);
  color: white;
  margin-top: 3px;
}

.place-bets-button {
  width: 100%;
  display: flex;
  justify-content: center;
}




@media only screen and (max-width: 1070px) {

  .header {
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  margin: 0px;
  }

  .logo {
    order: 0;
    }

  .nav-bar {
    order: 1;
    width: 97.8%;
    margin-left: 17px;
  }


  .main {
    width: 85%;
    margin: 0 auto;
    display: inline;
  }


  .game-container {
    display: inline-block;
    width: 39%;
    margin-left: 12px;

  }
  
  .spread-container,
  .totals-container,
  .moneyline-container {
    display: inline-block;
    width: 19%;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
  }



  .bet-container {
    width: 98%;
   margin: 0 auto;
   text-align: center;
  }

}
