#body {
  background-color: #E8E8E8;
  font-family: 'Noto Sans HK', sans-serif;
  background-color: #181818;
  margin: 20px;
}

.nav-bar {
  margin-top: 45px;
  margin-left: 4px;
  width: 1079px;
  font-size: 20px;
  background-color: #657786;
  color: white;
  display: flex;
  justify-content: space-around;
}

.main {
  font-size: larger;
  display: flex;
}

.game-container {
  font-size: larger;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-left: 4px;
}

#game-text {
  padding-left: 15px;
}

.spread-container,
.totals-container,
.moneyline-container {
  font-size: larger;
  min-width: 200px;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-right: 7px;
}


.each-game {
  height: 150px;
  width: 400px;
  border-bottom: 1px solid #181818;
  border-top: 1px solid #181818;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.each-gamble {
  /* padding-bottom: 15px; */
  height: 150px;
  min-width: 215px;
  border-bottom: 1px solid #181818;
  border-top: 1px solid #181818;
  /* border-right: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: black; */
}


.start-text {
  font-size: small;
}

.odds-text {
  color: chartreuse;
}

.game-spacing {
  padding: 10px;
  height: 35px;
  width: 450px;
  display: flex;
  justify-content: left;
  /* background-color: black; */
}

.pointsspread-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.totalpoints-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.moneyline-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 180px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  height: 35px;
}

.bet-container {
  /* position: fixed;
  right: 20px; */
  font-size: larger;
  height: 525px;
  width: 370px;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 7px;
  position: fixed;
  right: 20px;
  /* margin-left: 10px; */
}

.bet-slip {
border-bottom: 1px solid #181818;
display: flex;
justify-content: center;
}

.button-container {
height: 550px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}

.bet-button {
  background-color: #35d800;
  border-radius: 10%;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 25px;
  margin: 10px;
  height: 60px;
  width: 160px;
  color: white;
  font-weight: bold;
  filter: drop-shadow(1px 1px 1px #181818);
}