#body {
  font-family: 'Noto Sans HK', sans-serif;
  background-color: #323b43;
  margin: 20px;
}

.nav-bar {
  margin-top: 45px;
  margin-left: 4px;
  width: 1079px;
  font-size: 20px;
  background-color: #657786;
  color: white;
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(1px 1px 3px #111416);
}

h3 {
  filter: drop-shadow(1px 1px 1px #111416);
}

.main {
  font-size: larger;
  display: flex;
}

.game-container {
  font-size: larger;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-left: 4px;
  filter: drop-shadow(0px 1px 3px #111416);
}

#game-text {
  padding-left: 10px;
}

.spread-container,
.totals-container,
.moneyline-container {
  font-size: larger;
  min-width: 222px;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 7px;
  margin-right: 7px;
  filter: drop-shadow(1px 1px 3px #111416);
}


.each-game {
  height: 150px;
  width: 400px;
  border-bottom: 1px solid #323b43;
  border-top: 1px solid #323b43;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* filter: drop-shadow(1px 0px 0px #111416); */
}

.each-gamble {
  /* padding-bottom: 15px; */
  height: 150px;
  min-width: 222px;
  border-bottom: 1px solid #323b43;
  border-top: 1px solid #323b43;
  /* border-right: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  /* background-color: black; */
  /* filter: drop-shadow(1px 0px 0px #111416); */
}


.start-text {
  font-size: small;
}

.odds-text {
  color: chartreuse;
}

.game-spacing {
  padding: 10px;
  height: 35px;
  width: 500px;
  display: flex;
  justify-content: left;
  /* background-color: black; */
}

.pointsspread-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 215px;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.pointsspread-spacing:hover {
  background-color: #434f59;
}

.pointsspread-spacing2 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 215px;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.pointsspread-spacing2:hover {
  background-color: #434f59;
}

.totalpoints-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 215px;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.totalpoints-spacing:hover {
  background-color: #434f59;
}

.totalpoints-spacing2 {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 215px;
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  height: 35px;
}

.totalpoints-spacing2:hover {
  background-color: #434f59;
}


.moneyline-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 215px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  height: 35px;
}
.moneyline-spacing:hover {
  background-color: #434f59;
}

.moneyline-spacing2 {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 215px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  height: 35px;
}
.moneyline-spacing2:hover {
  background-color: #434f59;
}

.bet-container {
  /* position: fixed;
  right: 20px; */
  font-size: larger;
  height: 490px;
  width: 375px;
  background-color: #657786;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 7px;
  position: fixed;
  right: 20px;
  filter: drop-shadow(1px 1px 3px #111416);}



.bet-slip {
border-bottom: 1px solid #181818;
display: flex;
/* flex-direction: column; */
justify-content: center;
}

.button-container {
height: 550px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}


.bet-text {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 900;
  /* filter: drop-shadow(1px 1px 3px #111416); */
}


.logo-container {
  position: fixed;
  top: 10px;
  right: 25px;
  width: 370px;
  padding-bottom: 10px;
  display: flex;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  width: 370px;
  height: 140px;
  color: white;
  font-weight: 800;
  filter: drop-shadow(10px 5px 30px chartreuse);
}

.logo-green {
  color: chartreuse;
}

.submit-bets {
  height: 50px;
  width: 200px;
  font-size: 25px;
  font-weight: bolder;
  background-color: rgb(109, 214, 3);
  color: white;
}
.place-bets-container {
  height: 450px;
  width: 370px;
  /* background-color: black; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
}


/* .bet-form {
  height: 25px;
  width: 50px;
} */