#body {
  background-color: #E8E8E8;
  font-family: 'Noto Sans HK', sans-serif;
}

#nav-bar {
  border: 2px solid #484848;
  width: auto;
  margin: 20px;
  font-size: larger;
}

#label-bar {
  border: 2px solid #484848;
  width: auto;
  margin: 20px;
  font-size: larger;
  display: flex;
  justify-content: space-around;
}

#game-content {
  border: 2px solid #484848;
  width: auto;
  margin: 20px;
  font-size: larger;
}

.each-game {
  border: 2px solid #484848;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bet-slip {
  border: 2px solid #484848;
  width: auto;
  margin: 20px;
  font-size: larger;
}

.start-text {
  font-size: small;
}